@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Lexend:wght@100..900&family=Major+Mono+Display&display=swap');

:root {
  --font-major: "Major Mono Display", serif;
  --font-lexend: "Lexend", serif;
  --font-abeezee: "ABeeZee", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  cursor: pointer;
}

li {
  a {
    text-decoration: none;
  }
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.announcement {
  width: 100%;
  padding: 7px 0;
  text-align: center;
  background-color: black;
  color: white;
}

.nav-wrapper {
  border-bottom: 1px solid #DDDBDC;
}

.navBar {

  .nav__options-menu {
    height: 56px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #DDDBDC;

    li a {
      color: #262626;

      &:hover,
      &:focus {
        color: #D0021B;
      }
    }
  }
}

.nav {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center !important;

  ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
  }

  .nav__categories {
    height: 100%;
    display: flex;
    align-items: center !important;
    justify-content: center;

    li {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 15px;
      position: relative;

      a {
        text-align: center;
        display: block;
        padding: 10px 0;
        font-size: 12px;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 2px;
          background-color: #262626;
          transition: width 0.4s ease, left 0.4s ease;
          transform-origin: center;
        }

        &:hover::after {
          opacity: 1;
          width: 100%;
          left: 0;
        }

      }
    }
  }
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.navBar__searchField {
  height: 80vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 30;

  form {
    width: 100%;
    border-bottom: 1px solid #DDDBDC;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      padding: 16px;
      background-color: #F5F4F4;
      border-radius: 4px;
      border: none;
      outline: none;
      width: 678px;
      height: 48px;
      margin-right: 15px;

      &::placeholder {

        color: #737373;
      }
    }

    button {
      border: none;
      outline: none;
      background-color: transparent;
      color: #737373;
    }
  }
}

.searchResults {
  h3 {
    font-size: 14px;
    color: #4c4c4b;
    font-weight: normal;
    margin-top: 32px;
    margin-bottom: 16px;
    letter-spacing: 1.4PX;
  }

  .searchResults__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .searchResults__grid-item {
      display: flex;
      flex-direction: column;
      align-items: start;
      cursor: pointer;

      img {
        margin-bottom: 10px;
        height: auto;
        max-height: 340px;
      }

      span {
        color: #4c4c4b;
        font-size: 16px;
        letter-spacing: 0.65px;
        text-decoration: underline;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 20;

}

.hero {
  background-color: black;
  width: 100%;
  height: auto;
  min-height: calc(90vh - 150px);
  background-image: url('hero.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;

}

.hero-content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;

  h1 {
    font-size: 46px;
    letter-spacing: 0.92px;

    font-weight: normal;
    margin-bottom: 15px;
  }

  span {
    display: inline-block;
    font-size: 24px;
    width: 250px;

    letter-spacing: 0px;
    margin-bottom: 30px;
  }

  button {
    width: 240px;
    height: 41px;
    background-color: white;
    outline: none;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    letter-spacing: 1.4px;

    color: #262626;
  }
}

.shopByCategory {
  padding: 90px 0;

  h1 {
    line-height: 33%;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 25px;
    text-align: center;
  }

  .shopByCategory__grid {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    display: grid;
    gap: 8px;
    grid-template-columns: repeat(6, 1fr);

    .shopByCategory__grid-item {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      outline: none;
      border: none;

      &:hover {
        scale: 1.03;
      }

      img {
        margin-bottom: 12px;
      }

      a {
        font-size: 14px;
        letter-spacing: 1.4px;
        color: #262626;
        text-transform: uppercase !important;
        text-decoration: underline;
      }
    }
  }
}

.slick-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
}

.slick-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slick-arrow:focus {
  background-color: rgba(0, 0, 0, 1);
}

.slick-prev {
  left: 5px;
}

.slick-next {
  right: 5px;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-prev:after,
.slick-next:after {
  font-size: 20px;
  color: white;
}

.slick-prev:after {
  content: '←';
}

.slick-next:after {
  content: '→';
}

.main__categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

  div {
    position: relative;

    height: auto;
    min-height: 500px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 23px;
    transition: scale 0.5s ease-in-out;

    &:hover {
      scale: 1.05;
    }

    img {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;

      height: 100%;

      object-fit: cover;

      z-index: 0;

    }

    h1 {
      position: relative;

      font-size: 40px;
      font-weight: normal;
      letter-spacing: 0.2px;
      color: white;
      z-index: 1;

    }

    button {
      width: 240px;
      height: 41px;
      background-color: #262626b9;
      color: white;
      text-transform: uppercase;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      z-index: 1;

      &:hover {
        background-color: white;
        color: #262626;
        transform: translateY(-3px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.main__mission {
  margin: 90px auto;
  background-image: url('mission.svg');
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: white;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
  }

  span {
    font-size: 16px;
    letter-spacing: 0.64px;
    color: white;
    margin-bottom: 20px;
  }

  button {
    width: 240px;
    min-height: 40px;
    color: #262626;
    background-color: white;
    outline: none;
    text-transform: uppercase;
    border: none;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: #1f4926;
      color: #fff;
      transform: translateY(-3px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
  }
}

.main__favorites {
  width: fit-content;
  display: flex;
  justify-content: center;

  flex-direction: column;

  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 6px;
  }

  &>span {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 0.64px;
  }

  .favorites__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .favorites__grid-item {
      width: auto;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {

        min-height: 420px;
        margin-bottom: 5px;
      }

      h3 {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.2px;
        margin-bottom: 3px;
      }

      span {
        color: #737373;
        font-size: 12px;
        letter-spacing: 0.2px;
      }
    }
  }
}

body {
  font-family: var(--font-abeezee);
}

.listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.listing__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  width: 100%;
}

.listing__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.listing__gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 0;
}

.listing__grid-data {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: transparent;
  border-radius: 0;
}

.data__header {
  display: flex;
  justify-content: space-between;
  align-items: start;

  h1 {
    font-size: 24px;
    line-height: 33.2px;
    font-weight: normal;
    letter-spacing: 0px;
    margin: 0 0 10px 0;
  }

  .price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    line-height: 33.2px;
    font-weight: bold;
    letter-spacing: 0px;
  }
}

.rating {
  display: flex;
  align-items: center;
}

.rating__star {
  width: 20px;

  height: 20px;
  background-image: url('./Star.png');

  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.rating__star.half {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, #fff 50%),
    url('./Star.png');
  background-size: cover;
}

.listing__rating {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #737373;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  padding-bottom: 16px;
  border-bottom: 1px solid #F5F4F4;
}

.listing__color {
  .listing__color-header {
    margin: 18px 0 10px 0;
  }

  .listing__color-examples {
    display: flex;
    gap: 12px;

    button {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      border: none;
      padding: 5px;

      &:focus {
        outline: none;
        box-shadow:
          inset 0 0 0 3px white,
          0 0 0 2px black;

      }
    }
    .selected{
        outline: none;
        box-shadow:
          inset 0 0 0 3px white,
          0 0 0 2px black;
      }

    .blue {
      background-color: #113081;
    }

    .olive {
      background-color: #7D3D0E;
    }

    .cream {
      background-color: #f5f5dc;
    }

    .pink {
      background-color: #ffc0cb;
    }

    .navy {
      background-color: #000080;
    }

    .olive {
      background-color: #808000;
    }

    .black {
      background-color: #000000;
    }

    .grey {
      background-color: #808080;
    }

    .beige {
      background-color: #f5f5dc;
    }

    .brown {
      background-color: #a52a2a;
    }

    button.selected {
      border-color: #000;
    }

    button:hover {
      opacity: 0.8;
    }
  }
}

.listing__size {
  .listing__size-header {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.2px;
      color: #000;
      font-weight: 600;
    }

    a {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.2px;
      font-weight: 500;
    }
  }

  .listing__size-flex {
    list-style: none;
    display: flex;
    gap: 12px;

    .empty {
      background-color: transparent !important;
    }

    .size-button {
      text-align: center;
      padding: 12px;
      width: 45px;
      height: 40px;
      background-color: #f5f4f4;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e0e0e0;

      }

      &:focus {
        border: 2px solid #000;
        background-color: #d3d3d3;
      }
    }



  }
}

.listing__details {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;

  .listing__details-item {
    display: flex;
    align-items: center;
    gap: 16px;

    h3 {
      text-transform: capitalize;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.42px;
      font-weight: 600;
    }

    p {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.2px;
    }
  }
}

.listing__description {
  margin-top: 40px;

  .listing__description-detail {
    div {
      margin-top: 20px;
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 1px solid #F5F4F4;

      h3 {

        min-width: 130px;
      }

      p {}
    }
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    margin-bottom: 16px;
  }

  p {
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
    margin-bottom: 12px;
  }
}

.listing__grid {
  .listing__button {
    padding-bottom: 32px;
    border-bottom: 1px solid #F5F4F4;

    button {
      margin-top: 33px;
      width: 100%;
      height: 41px;
      background-color: #000;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 16.8px;
      letter-spacing: 1.4px;

    }
  }

}

.main__comments {
  margin-top: 130px;
  padding-bottom: 32px;
  border-bottom: 1px solid #F5F4F4;

  &>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


  .main__comments-text {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;

    h3 {
      font-size: 16px;
      margin-bottom: 40px;
      font-weight: normal;
    }

    p {
      max-width: 400px;
      margin: 15px 0 30px 0;
      font-size: 24px;
      line-height: 33.2px;
      letter-spacing: 0px;
    }

    span {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 1.4px;
    }
  }


  .main__comments-img {
    width: 530px;

    img {
      width: 100%;
    }
  }


  @media (max-width: 1024px) {

    grid-template-columns: 1fr;
    margin-top: 100px;

    .main__comments-img {
      width: 100%;
    }

    .main__comments-text p {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (max-width: 768px) {

    margin-top: 80px;

    .main__comments {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .main__comments-text {
      align-items: center;
      padding: 0 20px;
    }

    .main__comments-text h3 {
      font-size: 14px;
      margin-bottom: 20px;
    }

    .main__comments-text p {
      font-size: 18px;
      line-height: 28px;
      max-width: 100%;
    }

    .main__comments-text span {
      font-size: 12px;
      line-height: 18px;
    }

    .main__comments-img {
      width: 100%;
    }
  }

  @media (max-width: 480px) {

    margin-top: 60px;

    .main__comments-text h3 {
      font-size: 12px;
    }

    .main__comments-text p {
      font-size: 16px;
      line-height: 24px;
    }

    .main__comments-text span {
      font-size: 11px;
      line-height: 16px;
    }
  }
}

.main__pick {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 32px;
  border-bottom: 1px solid #F5F4F4;
}

.main__pick .main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1000px;
  text-align: center;
}

.main__pick .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__pick .card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-width: 450px;
}

.main__pick .card h3 {
  margin: 20px 0 10px;
  font-size: 24px;
  font-weight: normal;
}

.main__pick .card p {
  font-size: 14px;
  color: #262626;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 350px;
  line-height: 16.8px;
  letter-spacing: 1.4px;
}

.main__pick .card a {
  font-size: 14px;
  color: #262626;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid #262626;
  padding-top: 15px;
}

@media (max-width: 768px) {
  .main__pick .main-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.footer {
  background-color: #f2f2f2;
  padding: 40px 0 20px;
  width: 100%;

  /* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  } */

  .footer__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    .footer__section {
      h3 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: 8px;

          a {
            font-size: 14px;
            color: #333;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .footer__newsletter {
      display: flex;
      align-items: center;


      input {
        padding: 8px 12px;
        font-size: 14px;
        border: 1px solid #ddd;
        border-radius: 3px;
        flex: 1;
      }

      button {
        margin-left: -1px;
        padding: 8px 12px;
        font-size: 18px;
        color: #fff;
        background-color: #333;
        border: none;
        border-radius: 3px;
        cursor: pointer;

        &:hover {
          background-color: #000;
        }
      }
    }
  }

  .footer__bottom {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;

    ul {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      margin-bottom: 10px;

      li {
        a {
          font-size: 12px;
          color: #666;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    p {
      font-size: 12px;
      color: #666;
    }
  }


  @media (max-width: 768px) {
    .footer__content {
      grid-template-columns: repeat(2, 1fr);

      .footer__newsletter {
        grid-column: span 2;
      }
    }
  }

  @media (max-width: 480px) {
    .footer__content {
      grid-template-columns: 1fr;
    }
  }
}

.nopage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 60vh; */
  padding: 50px 0;
  img{
    max-width: 500px;
  }
  h1{
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 10px;
  }
  span{
    width: 40%;
    margin-bottom: 50px;
    text-align: center;
  }
  p{
    font-size: 5px
  }
}
.blog-context {
  /* margin: 100px auto; */
  text-align: center;
  padding: 20px;
}

.blog h2 {
  font-size: 3em;
  margin-bottom: 30px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 0px;
}

.card {
  width: 300px;
  border: none;
  transition: scale 0.3s ease-in-out;
  &:hover{
    scale: 1.1;
  }
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  text-align: left;
  padding: 10px 0;
}

.card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.card-tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.card-tag {
  text-transform: capitalize;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 0.8em;
  color: #333;
}

/* Container styling */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: transparent;
  /* Optional background color */
  padding: 10px 0;
}

/* Marquee text styling */
.marquee-text {
  display: inline-block;
  animation: marquee 20s linear infinite;
  /* Adjust duration for smoothness */
  font-size: 3em;
  font-weight: bold;
  color: #333;
}

/* Marquee animation */
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
    /* Move left by half the duplicated content */
  }
}

/* Symbol styling */
.symbol {
  font-size: 1em;
  margin: 0 10px;
  color: #555;
}

.blog__progress{
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  /* gap: 24px; */
}
.blog__social{
  background-color: #000;
  width: 100%;
  height: 345px;
  padding: 90px 0;
  .blog__social-context{
    h1{
      color: #fff;
      font-size: 54px;
      line-height: 72px;
      margin-bottom: 32px;
    }
    button{
      width: 240px;
      height: 60px;
      border-radius: 8px;
      background-color: #fff;
      color: #000;
      padding: 20px;
      text-align: center;
      font-size: 14px;
      letter-spacing: 0.42px
    }
  }
}

.about-page {
  padding: 20px;
  /* max-width: 800px; */
  margin: auto;
  ul{
    list-style: none;
  }
  
}
.team-section{
  h2 {
      margin-bottom: 20px;
    }
}
h1, h2 {
  margin-top: 50px;
  /* margin-bottom: 40px; */
}

.team-members {
  display: flex;
  gap: 20px;
}

.team-member {
  text-align: center;
}

.team-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.bag-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;

  h1 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 20px;
  }

  .bag-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    padding: 15px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;

    img {
      width: 80px;
      height: 100px;
      object-fit: cover;
      border-radius: 4px;
      margin-right: 15px;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 500;
      color: #333;
      margin: 5px 5px;
    }

    p {
      margin: 0;
      font-size: 0.9rem;
      color: #666;

      &:nth-child(3) {
        font-weight: bold;
        color: #333;
        margin-top: 5px;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .empty-message {
    font-size: 1.2rem;
    color: #666;
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .bag-item {
      flex-direction: column;
      align-items: flex-start;

      img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    }
  }
}

/* Notification styles */
.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  z-index: 1000;
  animation: slideIn 0.5s ease-in-out, fadeOut 3s 2.5s forwards;
}

/* Slide-in animation */
@keyframes slideIn {
  0% {
    top: -50px;
    opacity: 0;
  }

  100% {
    top: 20px;
    opacity: 1;
  }
}

/* Fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
/* 
body {
  margin-top: 50px;
} */
@import url('./media.css');