@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  cursor: pointer;
}

li {
  a {
    text-decoration: none;
  }
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

.announcement {
  width: 100%;
  padding: 7px 0;
  text-align: center;
  background-color: black;
  color: white;
}

.nav-wrapper {
  border-bottom: 1px solid #DDDBDC;
}

.navBar {

  .nav__options-menu {
    height: 56px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #DDDBDC;

    li a {
      color: #262626;

      &:hover,
      &:focus {
        color: #D0021B;
      }
    }
  }
}

.nav {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
  }

  .nav__categories {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 15px;
      position: relative;

      a {
        text-align: center;
        display: block;
        padding: 10px 0;
        font-size: 12px;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 2px;
          background-color: #262626;
          transition: width 0.4s ease, left 0.4s ease;
          transform-origin: center;
        }

        &:hover::after {
          opacity: 1;
          width: 100%;
          left: 0;
        }

      }
    }
  }
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.navBar__searchField {
  height: 80vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 30;

  form {
    width: 100%;
    border-bottom: 1px solid #DDDBDC;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      padding: 16px;
      background-color: #F5F4F4;
      border-radius: 4px;
      border: none;
      outline: none;
      width: 678px;
      height: 48px;
      margin-right: 15px;

      &::placeholder {

        color: #737373;
      }
    }

    button {
      border: none;
      outline: none;
      background-color: transparent;
      color: #737373;
    }
  }
}

.searchResults {
  h3 {
    font-size: 14px;
    color: #4c4c4b;
    font-weight: normal;
    margin-top: 32px;
    margin-bottom: 16px;
    letter-spacing: 1.4PX;
  }

  .searchResults__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .searchResults__grid-item {
      display: flex;
      flex-direction: column;
      align-items: start;
      cursor: pointer;

      img {
        margin-bottom: 10px;
        height: auto;
        max-height: 340px;
      }

      span {
        color: #4c4c4b;
        font-size: 16px;
        letter-spacing: 0.65px;
        text-decoration: underline;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 20;

}

.hero {
  background-color: black;
  width: 100%;
  height: auto;
  min-height: calc(90vh - 150px);
  background-image: url('hero.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;

}

.hero-content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;

  h1 {
    font-size: 46px;
    letter-spacing: 0.92px;

    font-weight: normal;
    margin-bottom: 15px;
  }

  span {
    display: inline-block;
    font-size: 24px;
    width: 250px;

    letter-spacing: 0px;
    margin-bottom: 30px;
  }

  button {
    width: 240px;
    height: 41px;
    background-color: white;
    outline: none;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    letter-spacing: 1.4px;

    color: #262626;
  }
}

.shopByCategory {
  padding: 90px 0;

  h1 {
    line-height: 33%;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-bottom: 25px;
    text-align: center;
  }

  .shopByCategory__grid {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    display: grid;
    gap: 8px;
    grid-template-columns: repeat(6, 1fr);

    .shopByCategory__grid-item {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      outline: none;
      border: none;

      &:hover {
        scale: 1.03;
      }

      img {
        margin-bottom: 12px;
      }

      a {
        font-size: 14px;
        letter-spacing: 1.4px;
        color: #262626;
        text-transform: uppercase !important;
        text-decoration: underline;
      }
    }
  }
}

.slick-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
}

.slick-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slick-arrow:focus {
  background-color: rgba(0, 0, 0, 1);
}

.slick-prev {
  left: 5px;
}

.slick-next {
  right: 5px;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-prev:after,
.slick-next:after {
  font-size: 20px;
  color: white;
}

.slick-prev:after {
  content: '←';
}

.slick-next:after {
  content: '→';
}

.main__categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;

  div {
    position: relative;

    height: auto;
    min-height: 500px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 23px;
    transition: scale 0.5s ease-in-out;

    &:hover {
      scale: 1.05;
    }

    img {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;

      height: 100%;

      object-fit: cover;

      z-index: 0;

    }

    h1 {
      position: relative;

      font-size: 40px;
      font-weight: normal;
      letter-spacing: 0.2px;
      color: white;
      z-index: 1;

    }

    button {
      width: 240px;
      height: 41px;
      background-color: #262626b9;
      color: white;
      text-transform: uppercase;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      z-index: 1;


      &:hover {
        background-color: white;
        color: #262626;
        transform: translateY(-3px);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.main__mission {
  margin: 90px auto;
  background-image: url('mission.svg');
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: white;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
  }

  span {
    font-size: 16px;
    letter-spacing: 0.64px;
    color: white;
    margin-bottom: 20px;
  }

  button {
    width: 240px;
    min-height: 40px;
    color: #262626;
    background-color: white;
    outline: none;
    text-transform: uppercase;
    border: none;
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: #1f4926;
      color: #fff;
      transform: translateY(-3px);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }
  }
}

.main__favorites {
  width: fit-content;
  display: flex;
  justify-content: center;

  flex-direction: column;

  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 6px;
  }

  &>span {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    letter-spacing: 0.64px;
  }

  .favorites__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .favorites__grid-item {
      width: auto;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;


      img {

        min-height: 420px;
        margin-bottom: 5px;
      }

      h3 {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.2px;
        margin-bottom: 3px;
      }

      span {
        color: #737373;
        font-size: 12px;
        letter-spacing: 0.2px;
      }
    }
  }
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@import url('./media.css');