/* Large screens - Min width 1400px */
@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
    }

    .shopByCategory__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .searchResults__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .main__categories {
        grid-template-columns: repeat(3, 1fr);
    }

    .favorites__slider .favorites__grid-item img {
        /* opacity: 0 !important; */
    }
}

/* Tablets - Between 768px and 992px */
@media (max-width: 1100px) and (min-width: 768px) {
    .nav__options-menu {
        gap: 15px;
    }

    .hero-content h1 {
        font-size: 36px;
    }

    .shopByCategory__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .searchResults__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .main__categories {
        grid-template-columns: repeat(2, 1fr);
    }

    .favorites__slider .favorites__grid-item img {
        min-height: 300px;
    }

    .cards-container {
        grid-template-columns: repeat(2, 1fr) !important;
        width: 100%;
    }
    
}

/* Small tablets and large smartphones - Between 576px and 768px */
@media (max-width: 768px) and (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .shopByCategory__grid {
        grid-template-columns: 1fr;
    }

    .searchResults__grid {
        grid-template-columns: 1fr;
    }

    .main__categories {
        grid-template-columns: 1fr;
    }

    .main__mission {
        h1 {
            width: 500px;
            text-align: center;
        }
    }

    .hero-content span {
        font-size: 20px;
    }

    .favorites__slider .favorites__grid-item img {
        min-height: 250px;
    }



    .nav__options-menu {
        display: none !important;
    }

    .navBar__searchField {
        form {
            input {
                width: 500px !important;
            }
        }
    }

    .searchResults {
        .searchResults__grid {
            gap: 2px 2px !important;
            grid-template-columns: repeat(2, 1fr) !important;

            img {
                max-width: 200px !important;
            }
        }
    }
        .cards-container {
            grid-template-columns: 2fr !important;
            /* 1 item per row on small screens */
        }
}

/* Smartphones - Max width 576px */
@media (max-width: 576px) {
    .navBar__searchField {
        form {
            input {
                width: 300px !important;
            }
        }
    }

    .logo {
        margin-left: 10px;
    }

    .nav__buttons {
        margin-left: 10px;
    }

    .container {
        max-width: calc(100% - 20px) !important;
    }

    .hero-content {
        top: 40%;
        left: 50% !important;
        transform: translate(-50%, -40%);

        h1 {
            font-size: 35px !important;
        }

        span {
            font-size: 20px !important;
        }
    }

    .nav__categories {
        display: none !important;
        /* display: block !important; */
        width: 100%;
        height: 100%;
        flex-direction: column;
        background-color: #fff;

        li {
            padding: 0;
            display: block;
            width: 100%;
            background-color: #fff;
            color: #232323;
            z-index: 5;
        }
    }

    .nav__options-menu {
        display: none !important;
    }

    .hero-content h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .hero-content span {
        font-size: 18px;
        width: 200px;
    }

    .shopByCategory__grid {
        grid-template-columns: 1fr;
    }

    .searchResults__grid {
        height: 50vh !important;
        grid-template-columns: 1fr !important;
        overflow-y: scroll !important;

        div {
            margin: 0 auto;
        }
    }

    .main__categories {
        /* opacity: 0; */
        grid-template-columns: 1fr !important;
    }

    .main__categories div {
        min-height: 400px;
    }

    .main__favorites h1 {
        font-size: 20px;
    }

    .main__mission h1 {
        width: 300px;
        font-size: 26px;
    }

    .favorites__slider .slick-list {
        max-width: 300px;
        margin: 0 auto;
    }

    .nopage {
        padding: 10px 0;

        img {
            max-width: 200px !important;
        }
    }

    .blog__progress {
        flex-direction: column;
        gap: 20px;

        &>div {
            margin: 0 auto;
        }
    }

    .blog__social {
        h1 {
            font-size: 40px !important;
            line-height: 40px !important;
        }

        button {
            width: 150px !important;
            padding: 10px !important;
            font-size: 10px !important;
        }
    }

    .listing__grid {
        grid-template-columns: 1fr !important;
        gap: 0;

        .listing__gallery {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            img {
                max-width: 140px;
                max-height: 140px;
                margin: 0 !important;
            }
        }
    }

    .listing__grid-data {
        padding: 0 !important;

        .data__header {
            justify-content: start;
            flex-direction: column;

            h1 {
                font-size: 20px;
                line-height: 25px;
            }

            .price {
                font-size: 16px;
                line-height: 25px;
            }
        }

        .rating__star {
            width: 10px;
            height: 10px;
        }

        .listing__rating {
            /* width: 300px !important; */
        }

        .listing__size-header {
            /*  */
        }

        .listing__size-flex {
            flex-wrap: wrap;
        }

        .listing__button {
            button {
                width: 60% !important;
            }
        }
    }

    .about-page {
        .team-section {
            h2 {
                margin-bottom: 20px;
            }

            .team-members {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .cards-container {
        grid-template-columns: 1fr !important;
    }
        .bag-item {
            display: grid;
            grid-template-columns: 1fr 3fr !important;
            width: 100%;
            max-width: 600px;
            padding: 15px;
            border-bottom: 1px solid #eaeaea;
            margin-bottom: 10px;
            h2{
                vertical-align: center !important;
            }
        }
}